<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
    
      <title>navbar_template</title>
    </head>

    <body>

        <div th:fragment="navbar">
            <h1>SQL-tasker</h1>

            <br/>

            <div  sec:authorize="hasRole('ROLE_STUDENT')">
                <a th:href="@{/categories}">Category listing</a>
                <a sec:authorize="hasRole('ROLE_TEACHER')" th:href="@{/tasks}">Task listing</a>
                <a sec:authorize="!hasRole('ROLE_TEACHER')" th:href="@{/tasks/suggest}">Suggest task</a>
                <a th:href="@{/databases}">Database listing</a>
                <a th:href="@{/queries}">Query listing</a>
                <a sec:authorize="hasRole('ROLE_TEACHER')" th:href="@{/users}">Users</a>
                <a th:href="@{/points}">Points</a>
                <a sec:authentication="name" th:href="@{/profile}">Username</a>
                <form method="post" action="#" th:action="@{/logout}"><input type="submit" name="logout" value="Logout"/></form>
            </div>

            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">Login</a>
                <a th:href="@{/register}">Register</a>
            </div>

            <hr/>
            <br/>
        </div>
    </body>
</html>
