<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${category.name}">Category name</title>
</head>
<body>

<div th:include="fragments/navbar_template :: navbar"></div>
<div th:include="fragments/scripts :: confirmScript"></div>
<div th:include="fragments/messages_template :: messages"></div>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form th:method="DELETE" th:action="@{/categories/{id} (id=${category.id})}">
        <button type="submit" value="delete" Onclick="return Confirm();">Delete category</button>
    </form>

    <form th:method="GET" th:action="@{/categories/{id}/edit (id=${category.id})}">
        <button type="submit" value="edit" Onclick="return Confirm();">Edit category</button>
    </form>
</div>

<h2 th:text="${category.name}">Category name</h2>
<label>Start date:</label>
<p th:text="${category.startDate}">Description</p>
<label>Expire date:</label>
<p th:text="${category.expiredDate}">Description</p>
<h3 th:if="${category.description}">Description</h3>
<p th:text="${category.description}">Description</p>

<h3 th:if="${category.taskList}">Task list</h3>
<h4 th:each="task : ${category.taskList}">
    <a th:text=" ${task.name}" th:href="@{/categories/{id}/tasks/{taskId} (id=${category.id}, taskId=${task.id})}">Task name</a>
    <hr/>
</h4>

<div th:include="fragments/footer_template :: footer"></div>
<div th:include="fragments/twitterBootstrap :: twitterBootstrap"></div>
</body>
</html>