<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Databases</title>
    </head>
    <body>

        <div th:include="fragments/navbar_template :: navbar"></div>

        <div th:include="fragments/messages_template :: messages"></div>

        <div>
            <h2>Create new Database-Schema</h2>
            <hr/>
            <form method="POST" th:action="@{/databases}">
                <label>Database Name</label>
                <br/>
                <input type="text" name="name"/>

                <br/>

                <label>Database Create-tables</label>
                <br/>
                <textarea name="databaseSchema">CREATE TABLE Foo(id integer);
                                                INSERT INTO Foo (id) VALUES (7);
                </textarea>

                <br/>

                <input type="submit" value="Submit New Schema"/>
            </form>
            <hr/>
        </div>

        <br/>

        <h2>Existing Schemas</h2>
        <div th:each="database: ${databases}">
            <h3><a th:text="${database.name}" th:href="@{/databases/{id}(id=${database.id})}">Task name</a></h3>
            <a th:text="${database.databaseSchema}">Database schema</a>
            <br/>
        </div>

        <div th:include="fragments/footer_template :: footer"></div>
    </body>
</html>
