<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SQL-tasker</title>
        <div th:include="fragments/twitterBootstrap :: twitterBootstrap"></div>
    </head>
    <body>
    <div th:include="fragments/navbar_template :: navbar"></div>

        <div th:include="fragments/messages_template :: messages"></div>

        <h2>Welcome to SQL-tasker!</h2>

        <div sec:authorize="hasRole('STUDENT')">
            <h2><a th:href="@{/tasks}">To task listing</a></h2>
            <h2><a th:href="@{/databases}">To database listing</a></h2>
        </div>

        <div th:include="fragments/footer_template :: footer"></div>
    </body>
</html>
