<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Past queries listing.</title>
</head>
<body>
<div>
    <div th:include="fragments/navbar_template :: navbar"></div>

    <div th:include="fragments/messages_template :: messages"></div>
    <form th:method="POST" th:action="@{/queries }">

        <a>Task Id</a>
        <select th:name="taskId">
            <option th:value="null" text="Any task">Any task</option>
            <option th:each="query : ${queries}"
            th:value="${query.getId()}"
            th:text="${query.getName()}"></option>
        </select>

        <a>Username</a>
        <select th:name="username">
            <option th:value="null" text="All users">All users</option>
            <option th:value="null" th:text="joo">joo</option>
        </select>

        <a>Answer is correct?</a>
        <select th:name="isCorrect">
            <option th:value="null" th:text="All"></option>
            <option th:value="true" text="Only correct answers">Only correct answers</option>
            <option th:value="false" text="Only incorrect answers">Only incorrect answers</option>
        </select>

        <input type="submit" value="Submit"/>

        <div th:each="qr : ${pastQuery}">
            <a th:text ="${qr.username}"></a>
            <a th:text = "${qr.taskId}"></a>
            <a th:text = "${qr.pastQuery}"></a>
            <a th:text = "${qr.wasCorrect}"></a>
        </div>
    </form>

</div>
</body>
</html>