<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tasks</title>
    </head>
    <body>
        <div th:include="fragments/navbar_template :: navbar"></div>

        <div th:include="fragments/messages_template :: messages"></div>

        <div class="get-in-touch">
            <h2 sec:authorize="hasRole('ROLE_ADMIN')">Create new task</h2>
            <h2 sec:authorize="!hasRole('ROLE_ADMIN')">Suggest a task</h2>

            <form method="POST" th:action="@{/tasks}">
                <div class="get-in-touch-text-boxs">

                    <div class="get-in-touch-text-box">
                        <span>Task name</span>
                        <input type="text" name="name"/>
                    </div>

                    <div class="get-in-touch-text-box">
                        <span>Description</span>
                        <textarea name="description"></textarea>
                    </div>

                    <div class="get-in-touch-text-box">
                        <span>Solution</span>
                        <textarea name="solution"></textarea>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="button" style="margin-bottom: 10px" class="btn btn-default btn-sm topspace" id="myBtn"
                                data-toggle="modal" data-target="#categoryModal">
                            Select Categories
                        </button>
                    </div>
                    <div class="modal fade" id="categoryModal" role="dialog" sec:authorize="hasRole('ROLE_ADMIN')" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Select Categories</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="text" id="search" placeholder="Type to search" class="topspace"/>

                                    <div class="checkbox" th:each="category : ${categories}" style="border: none">
                                        <label>
                                            <input type="checkbox" name="categoryIds" th:value="${category.id}"/>

                                            <p class="categoryName" th:text="${category.name}"></p>
                                        </label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" name="move" class="btn btn-primary" data-dismiss="modal">Select
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <span>Database</span>
                    <ul id="sql-id">
                        <input type="radio" name="databaseId" th:each="db : ${databases}" th:value="${db.id}">
                            <li id="sql-li" th:text="${db.name}">Database</li>
                        </input>
                    </ul>


                    <input sec:authorize="hasRole('ROLE_ADMIN')" type="submit" value="Create task"/>
                    <input sec:authorize="!hasRole('ROLE_ADMIN')" type="submit" value="Submit suggestion"/>
                </div>
            </form>
        </div>

        <div class="get-in-touch" sec:authorize="hasRole('ROLE_ADMIN')">
            <h2>List of tasks</h2>

            <div th:each="task: ${tasks}">
                <h3><a th:text="${task.name}" th:href="@{/tasks/{id}(id=${task.id})}">Task name</a></h3>
            </div>
        </div>

        <div th:include="fragments/footer_template :: footer"></div>
        <div th:include="fragments/bootstrap :: bootstrap"></div>
        <div th:include="fragments/scripts :: searchScript"></div>
        <div th:include="fragments/twitterBootstrap :: twitterBootstrap"></div>

    </body>
</html>