<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${task.name}">TODO supply a title</title>
    </head>
    <body>
        <div th:include="fragments/navbar_template :: navbar"></div>

        <div th:include="fragments/messages_template :: messages"></div>

        <div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:method="DELETE" th:action="@{/tasks/{id} (id=${task.id})}">
                    <button type="submit" value="delete" Onclick="return Confirm();">Delete task</button>
                </form>

                <form th:method="GET" th:action="@{/tasks/{id}/edit (id=${task.id})}">
                    <button type="submit" value="edit" Onclick="return Confirm();">Edit task</button>
                </form>
            </div>


            <h2 th:text="${task.name}">Task name</h2>

            <h3 th:if="${task.description}">Description</h3>

            <p th:text="${task.description}">Task description</p>

            <h3 sec:authorize="hasRole('ROLE_TEACHER')" th:if="${task.solution}">Suggested Solution</h3>

            <p sec:authorize="hasRole('ROLE_TEACHER')" th:text="${task.solution}">Task solution</p>

            <h3>Database</h3>
            <a th:text="${task.database.name}" th:href="@{/databases/{id} (id = ${task.database.id})}">Task database</a>
        </div>
        <br/>
        <form th:method="POST" th:action="@{/tasks/{categoryId}/{id}/query (categoryId=${category.id}, id=${task.id})}">
            <textarea name="query"/>
            <input type="hidden" name="id" th:value="${task.id}"/>

            <input type="submit" value="Submit query"/>
        </form>

        <!-- SELECT query to a database results -->
        <div th:if="${tables}">
            <div th:include="fragments/essentials :: tableListing (tables = ${tables})"></div>
        </div>

        <a th:id="${category}" th:href="@{/categories/{id} (id = ${category.id})}" th:text="'Back to ' + ${category.name}">Back to category</a>
        <a sec:autorize="hasRole('ROLE_TEACHER')" th:href="@{/tasks}">Back to task listing</a>

        <div th:include="fragments/footer_template :: footer"></div>
        <div th:include="fragments/scripts :: confirmScript"></div>
    </body>

</html>
